<div class="card mt-4">
  <div class="card-body">
    <div class="row">
      <div class="col-md-2">
        <div class="card bg-primary text-white">
          <div class="card-body text-center">
            <h6 class="card-title">Setores</h6>
            <p class="display-6">{{ waste_record_metrics.num_sectors }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card bg-success text-white">
          <div class="card-body text-center">
            <h6 class="card-title">Resíduos</h6>
            <p class="display-6">{{ waste_record_metrics.num_wastes }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="card bg-info text-white">
          <div class="card-body text-center">
            <h6 class="card-title">Peso total (kg)</h6>
            <p class="display-6">{{ waste_record_metrics.total_waste_weight|floatformat:2 }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-warning text-dark">
          <div class="card-body text-center">
            <h6 class="card-title">Valor de Entrada (R$)</h6>
            <p class="display-6">{{ waste_record_metrics.total_entry_value|floatformat:2 }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card bg-danger text-white">
          <div class="card-body text-center">
            <h6 class="card-title">Valor de Saída (R$)</h6>
            <p class="display-6">{{ waste_record_metrics.total_exit_value|floatformat:2 }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>