{% extends 'base.html' %}

{% block title %}Confirmar Exclusão{% endblock %}

{% block content %}
<div class="row mb-4">
  <div class="col">
    <h2>Confirmar Exclusão</h2>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <p>Deseja realmente excluir o registro "{{ object.category.name }} - R$ {{ object.value }}" ?</p>
    <form method="post">
      {% csrf_token %}
      <div class="d-flex justify-content-between">
        <a href="{% url 'record_list' %}" class="btn btn-secondary">Cancelar</a>
        <button type="submit" class="btn btn-danger">Confirmar</button>
      </div>
    </form>
  </div>
</div>
{% endblock %}
