{% extends 'base.html' %}

{% block title %}Detalhes do Preço{% endblock %}

{% block content %}
<div class="row mb-4">
  <div class="col-md-6">
    <h2>Detalhes do Preço</h2>
  </div>
  <div class="col-md-6 text-end">
    <a href="{% url 'price_list' %}" class="btn btn-secondary">
      <i class="bi bi-arrow-left"></i> Voltar
    </a>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <dl class="row">
      <dt class="col-sm-3">Categoria</dt>
      <dd class="col-sm-9">{{ object.category.name }}</dd>
      
      <dt class="col-sm-3">Valor (R$)</dt>
      <dd class="col-sm-9">{{ object.value }}</dd>
      
      <dt class="col-sm-3">Data de Criação</dt>
      <dd class="col-sm-9">{{ object.created_at|date:"d/m/Y H:i" }}</dd>
      
      <dt class="col-sm-3">Data de Atualização</dt>
      <dd class="col-sm-9">{{ object.updated_at|date:"d/m/Y H:i" }}</dd>
    </dl>
  </div>
</div>
{% endblock %}
