{% extends 'base.html' %}

{% block title %}Detalhes da Categoria{% endblock %}

{% block content %}
<div class="row mb-4">
  <div class="col">
    <h2>Detalhes da Categoria</h2>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h3 class="card-title">{{ object.name }}</h3>
    <p class="card-text">{{ object.description }}</p>
    
    <div class="d-flex justify-content-between">
      <a href="{% url 'category_list' %}" class="btn btn-secondary">Voltar</a>
      {% if perms.categories.change_category %}
      <a href="{% url 'category_update' object.id %}" class="btn btn-primary">Editar</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
